main {
  max-width: 50%;

  @media screen and (max-width: 1025px) {
    max-width: 100%;
  }
}

.inverted aside {
  width: 45%;
  margin-right: 2em;

  @media screen and (max-width: 1025px) {
    width: 100%;
    margin-right: 0;
  }
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;

    @media screen and (max-width: 1025px) {
      max-width: 40vw;
    }

    @media screen and (max-width: 700px) {
      max-width: 60vw;
    }
  }
}