.welcome {
  height: inherit;
  display: flex;
  justify-content: space-between;
  padding: 4em;

  img {
    width: 50%;
  }

  h1 {
    color: white;
  }

  h3 {
    color: white;
  }

  p {
    color: lightslategray;
  }
  
  a {
    font-size: 1.5em;
    color: var(--third-color);
  }
  a:visited {
    color: white;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      line-height: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .welcome {
    flex-direction: column;
    padding: 2em;
    img {
      flex-grow: 1;
      width: auto;
      height: 50%;
    }
    section {
      display: block;
    }
  }
}

html {
  @media (orientation: portrait) and (max-width: 1025px){
    background: linear-gradient(110deg, rgb(1, 55, 96) 0%,
        rgb(128, 55, 155) 48%,
        rgb(222, 27, 131) 74%,
        rgb(246, 77, 5) 100%);
  }
}